<!DOCTYPE html>
<html>
<head>
    <title>KWEB board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h3 class="page-header">
        <p><%=row.title%></p>
    </h3>
    <div class="info" style="text-align: right;">작성자: <%=row.author%></div>
    <br>
    <div class="content">
        <%=row.content%>
        <br>
    </div>
</div>
<br>
<br>
<div class="container">
<a href="/board"><button type="button" class="btn btn-primary">뒤로</button></a>
</div>
</body>
</html>
